<div class="clr-row">
  <div class="clr-col-3">
    <h3>Current</h3>

    <div class="clr-example">
      <span class="label label-info">Info</span>
      <span class="label label-success">Success</span>
      <span class="label label-warning">Warning</span>
      <span class="label label-danger">Error</span>
    </div>

    <div class="clr-example">
      <a href="javascript://" class="label label-purple clickable">
        <span class="text">Austin</span>
        <span class="badge">1</span>
        <cds-icon shape="close"></cds-icon>
      </a>
      <a href="javascript://" class="label label-blue clickable">
        <span class="text">New York</span>
        <span class="badge">2</span>
      </a>
      <a href="javascript://" class="label label-orange clickable">
        <span class="text">Palo Alto</span>
        <span class="badge">3</span>
      </a>
      <a href="javascript://" class="label label-light-blue clickable">
        <span class="text">San Francisco</span>
        <span class="badge">12</span>
      </a>
      <a href="javascript://" class="label clickable">
        <span class="text">Seattle</span>
        <span class="badge">15</span>
      </a>
      <a href="javascript://" class="label label-purple clickable">
        <span class="text">Chicago</span>
        <span class="badge">55</span>
      </a>
      <a href="javascript://" class="label label-blue clickable">
        <span class="text">San Jose</span>
        <span class="badge">66</span>
      </a>
      <a href="javascript://" class="label label-orange clickable">
        <span class="text">Charlotte</span>
        <span class="badge">88</span>
      </a>
      <a href="javascript://" class="label label-light-blue clickable">
        <span class="text">Atlanta</span>
        <span class="badge">99+</span>
      </a>
      <a href="javascript://" class="label clickable disabled">
        <span class="text">Philadephia</span>
        <span class="badge">0</span>
      </a>
    </div>
  </div>
  <div class="clr-col-3" clr-density="regular">
    <h3>Regular</h3>

    <div class="clr-example">
      <span class="label label-info">Info</span>
      <span class="label label-success">Success</span>
      <span class="label label-warning">Warning</span>
      <span class="label label-danger">Error</span>
    </div>

    <div class="clr-example">
      <a href="javascript://" class="label label-purple clickable">
        <span class="text">Austin</span>
        <span class="badge">1</span>
        <cds-icon shape="close"></cds-icon>
      </a>
      <a href="javascript://" class="label label-blue clickable">
        <span class="text">New York</span>
        <span class="badge">2</span>
      </a>
      <a href="javascript://" class="label label-orange clickable">
        <span class="text">Palo Alto</span>
        <span class="badge">3</span>
      </a>
      <a href="javascript://" class="label label-light-blue clickable">
        <span class="text">San Francisco</span>
        <span class="badge">12</span>
      </a>
      <a href="javascript://" class="label clickable">
        <span class="text">Seattle</span>
        <span class="badge">15</span>
      </a>
      <a href="javascript://" class="label label-purple clickable">
        <span class="text">Chicago</span>
        <span class="badge">55</span>
      </a>
      <a href="javascript://" class="label label-blue clickable">
        <span class="text">San Jose</span>
        <span class="badge">66</span>
      </a>
      <a href="javascript://" class="label label-orange clickable">
        <span class="text">Charlotte</span>
        <span class="badge">88</span>
      </a>
      <a href="javascript://" class="label label-light-blue clickable">
        <span class="text">Atlanta</span>
        <span class="badge">99+</span>
      </a>
      <a href="javascript://" class="label clickable disabled">
        <span class="text">Philadephia</span>
        <span class="badge">0</span>
      </a>
    </div>
  </div>
  <div class="clr-col-3" clr-density="compact">
    <h3>Compact</h3>

    <div class="clr-example">
      <span class="label label-info">Info</span>
      <span class="label label-success">Success</span>
      <span class="label label-warning">Warning</span>
      <span class="label label-danger">Error</span>
    </div>

    <div class="clr-example">
      <a href="javascript://" class="label label-purple clickable">
        <span class="text">Austin</span>
        <span class="badge">1</span>
        <cds-icon shape="close"></cds-icon>
      </a>
      <a href="javascript://" class="label label-blue clickable">
        <span class="text">New York</span>
        <span class="badge">2</span>
      </a>
      <a href="javascript://" class="label label-orange clickable">
        <span class="text">Palo Alto</span>
        <span class="badge">3</span>
      </a>
      <a href="javascript://" class="label label-light-blue clickable">
        <span class="text">San Francisco</span>
        <span class="badge">12</span>
      </a>
      <a href="javascript://" class="label clickable">
        <span class="text">Seattle</span>
        <span class="badge">15</span>
      </a>
      <a href="javascript://" class="label label-purple clickable">
        <span class="text">Chicago</span>
        <span class="badge">55</span>
      </a>
      <a href="javascript://" class="label label-blue clickable">
        <span class="text">San Jose</span>
        <span class="badge">66</span>
      </a>
      <a href="javascript://" class="label label-orange clickable">
        <span class="text">Charlotte</span>
        <span class="badge">88</span>
      </a>
      <a href="javascript://" class="label label-light-blue clickable">
        <span class="text">Atlanta</span>
        <span class="badge">99+</span>
      </a>
      <a href="javascript://" class="label clickable disabled">
        <span class="text">Philadephia</span>
        <span class="badge">0</span>
      </a>
    </div>
  </div>
  <div class="clr-col-3" clr-density="ultra-compact">
    <h3>Ultra-compact</h3>

    <div class="clr-example">
      <span class="label label-info">Info</span>
      <span class="label label-success">Success</span>
      <span class="label label-warning">Warning</span>
      <span class="label label-danger">Error</span>
    </div>

    <div class="clr-example">
      <a href="javascript://" class="label label-purple clickable">
        <span class="text">Austin</span>
        <span class="badge">1</span>
        <cds-icon shape="close"></cds-icon>
      </a>
      <a href="javascript://" class="label label-blue clickable">
        <span class="text">New York</span>
        <span class="badge">2</span>
      </a>
      <a href="javascript://" class="label label-orange clickable">
        <span class="text">Palo Alto</span>
        <span class="badge">3</span>
      </a>
      <a href="javascript://" class="label label-light-blue clickable">
        <span class="text">San Francisco</span>
        <span class="badge">12</span>
      </a>
      <a href="javascript://" class="label clickable">
        <span class="text">Seattle</span>
        <span class="badge">15</span>
      </a>
      <a href="javascript://" class="label label-purple clickable">
        <span class="text">Chicago</span>
        <span class="badge">55</span>
      </a>
      <a href="javascript://" class="label label-blue clickable">
        <span class="text">San Jose</span>
        <span class="badge">66</span>
      </a>
      <a href="javascript://" class="label label-orange clickable">
        <span class="text">Charlotte</span>
        <span class="badge">88</span>
      </a>
      <a href="javascript://" class="label label-light-blue clickable">
        <span class="text">Atlanta</span>
        <span class="badge">99+</span>
      </a>
      <a href="javascript://" class="label clickable disabled">
        <span class="text">Philadephia</span>
        <span class="badge">0</span>
      </a>
    </div>
  </div>
</div>
