package-lock.json
package.json
dist/
reports/
/projects/angular/clarity.api.md
.vscode
.ng_build
**/node_modules/**
**/web_modules/**
.cache
projects/schematics/src/**/*.js
projects/schematics/src/**/*.js.map
