@if (items?.length) {
<div role="list" class="clr-breadcrumb-menu">
  @if (items.length > max && !isExpanded) {
  <clr-breadcrumb-item>
    <button
      [attr.aria-label]="commonStrings.keys.expandBreadcrumbsLabel"
      class="btn btn-link btn-sm clr-breadcrumb-expand"
      (click)="expand()"
      (keydown)="expand()"
    >
      <cds-icon shape="ellipsis-horizontal"></cds-icon>
    </button>
  </clr-breadcrumb-item>
  } @for (breadcrumb of items | slice: -limit : items.length; track breadcrumb; let isLastItem = $last) {
  <clr-breadcrumb-item>
    @if (isLastItem) {
    <span aria-current="page">{{ breadcrumb.label }}</span>
    } @else { @if (breadcrumb.routerLink) {
    <a
      [routerLink]="breadcrumb.routerLink"
      [queryParams]="breadcrumb.queryParams"
      [target]="breadcrumb.target || '_self'"
      (click)="handleItemClick(breadcrumb)"
    >
      {{ breadcrumb.label }}
    </a>
    } @if (breadcrumb.href) {
    <a [href]="breadcrumb.href" [target]="breadcrumb.target || '_self'" (click)="handleItemClick(breadcrumb)">
      {{ breadcrumb.label }}
    </a>
    } }
  </clr-breadcrumb-item>
  }
</div>
}
