<div *ngIf="items?.length" role="list" class="clr-breadcrumb-menu">
  <clr-breadcrumb-item *ngIf="items.length > max && !isExpanded">
    <button
      [attr.aria-label]="commonStrings.keys.expandBreadcrumbsLabel"
      class="btn btn-link btn-sm clr-breadcrumb-expand"
      (click)="expand()"
      (keydown)="expand()"
    >
      <cds-icon shape="ellipsis-horizontal"></cds-icon>
    </button>
  </clr-breadcrumb-item>
  <clr-breadcrumb-item *ngFor="let breadcrumb of items | slice: -limit : items.length; let isLastItem=last">
    <span *ngIf="isLastItem; else breadcrumbLinks" aria-current="page">{{ breadcrumb.label }}</span>

    <ng-template #breadcrumbLinks>
      <a
        *ngIf="breadcrumb.routerLink"
        [routerLink]="breadcrumb.routerLink"
        [queryParams]="breadcrumb.queryParams"
        [target]="breadcrumb.target"
        (click)="handleItemClick(breadcrumb)"
      >
        {{ breadcrumb.label }}
      </a>
      <a
        *ngIf="breadcrumb.href"
        [href]="breadcrumb.href"
        [target]="breadcrumb.target"
        (click)="handleItemClick(breadcrumb)"
      >
        {{ breadcrumb.label }}
      </a>
    </ng-template>
  </clr-breadcrumb-item>
</div>
