<table class="calendar-table" role="presentation">
  <tr class="calendar-row weekdays">
    <th *ngFor="let day of localeDays" class="calendar-cell weekday">
      <span [attr.aria-label]="day.day">{{day.narrow}}</span>
    </th>
  </tr>
  <tr class="calendar-row" *ngFor="let row of calendarViewModel.calendarView">
    <td *ngFor="let dayView of row" class="calendar-cell">
      <clr-day [clrDayView]="dayView" (selectDay)="setSelectedDay($event)" aria-hidden="true"></clr-day>
    </td>
  </tr>
</table>
