<div
  class="date-range-options-wrapper"
  [ngClass]="{'has-range-option': dateNavigationService.isRangePicker && dateRangeOptions?.length}"
>
  <div class="options-wrapper" *ngIf="dateNavigationService.isRangePicker && dateRangeOptions?.length">
    <div
      class="range-option"
      *ngFor="let option of dateRangeOptions; let i = index"
      [ngClass]="{'active': !!option?.isCustomRange}"
      [attr.aria-label]="option?.label"
      tabindex="0"
      (keyup.enter)="onRangeOptionSelect(option)"
      (click)="onRangeOptionSelect(option)"
    >
      {{option.label}}
    </div>
  </div>
  <clr-datepicker-view-manager></clr-datepicker-view-manager>
</div>
