<grid-confirm-form [(options)]="options"> </grid-confirm-form>

<button class="btn btn-primary" (click)="reset()">Render</button>
<button class="btn btn-primary" (click)="refresh()">Refresh data</button>

<div *ngIf="options.selectionType !== 0" class="card card-block">
  <p class="card-text">
    Selected VMs:
    <em *ngIf="selectedVms?.length == 0">No vm selected.</em>
    <span *ngFor="let vm of selectedVms">{{ vm.name + ' ' }}</span>
  </p>
</div>

<hr />

<appfx-datagrid
  *ngIf="!resetting"
  appfxPreserveSelection
  trackByGridItemProperty="id"
  [virtualScrolling]="true"
  [serverDrivenDatagrid]="true"
  [dataRange]="dataRange"
  [selectedItems]="selectedVms"
  [totalItems]="dataRange.total"
  [loading]="options.loading"
  [columns]="columns"
  [layoutModel]="{
    disabled: options.disabled,
    compact: options.compactDatagrid,
    stretchToParentHeight: true,
  }"
  [footerModel]="{
    enableCustomExport: options.enableExport,
    hideColumnToggle: !options.showColumnToggle,
  }"
  [selectionType]="options.selectionType"
  (refreshGridData)="onRefreshGridData($event)"
  (exportDataEvent)="onExportDataEvent($event)"
  (selectedItemsChange)="onSelectedItemsChange($event)"
  (refreshVirtualGridData)="refreshVirtualGridData($event)"
>
</appfx-datagrid>
