<h1>{{ expanded.name }}</h1>
<h1>{{ expanded.contact }}</h1>
<h1>{{ expanded.address }}</h1>
<h1>{{ expanded.phone }}</h1>
<h1>{{ expanded | json}}</h1>
<button (click)="handleClick()">Click</button>
<form
  *ngIf="!loading; else loadingTmp"
  clrStepper
  [formGroup]="form"
  (ngSubmit)="submit()"
  [clrInitialStep]="initialStep"
>
  <clr-stepper-panel formGroupName="name">
    <clr-step-title>Legal Name</clr-step-title>
    <clr-step-description>
      <span *ngIf="!expanded.name; else opened">Closed</span>
    </clr-step-description>
    <clr-step-content [(clrIfExpanded)]="expanded.name">
      <clr-input-container>
        <label>First Name</label>
        <input clrInput formControlName="first" />
        <clr-control-error *clrIfError="'required'">First Name Required</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>Last Name</label>
        <input clrInput formControlName="last" />
        <clr-control-error *clrIfError="'required'">Last Name Required</clr-control-error>
      </clr-input-container>

      <button clrStepButton="next">next</button>
    </clr-step-content>
  </clr-stepper-panel>

  <clr-stepper-panel formGroupName="contact">
    <clr-step-title>Contact Information</clr-step-title>
    <clr-step-description>
      <span *ngIf="!expanded.contact; else opened">Closed</span>
    </clr-step-description>
    <clr-step-content [(clrIfExpanded)]="expanded.contact">
      ...
      <button clrStepButton="next">next</button>
    </clr-step-content>
  </clr-stepper-panel>

  <clr-stepper-panel formGroupName="address">
    <clr-step-title>Address Information</clr-step-title>
    <clr-step-description>
      <span *ngIf="!expanded.address; else opened">Closed</span>
    </clr-step-description>
    <clr-step-content [(clrIfExpanded)]="expanded.address">
      ...
      <button clrStepButton="next">next</button>
    </clr-step-content>
  </clr-stepper-panel>

  <clr-stepper-panel formGroupName="phone">
    <clr-step-title>Phone Information</clr-step-title>
    <clr-step-description>
      <span *ngIf="!expanded.phone; else opened">Closed</span>
    </clr-step-description>
    <clr-step-content [(clrIfExpanded)]="expanded.phone">
      ...
      <button clrStepButton="next">next</button>
    </clr-step-content>
  </clr-stepper-panel>

  <clr-stepper-panel formGroupName="password">
    <clr-step-title>Password</clr-step-title>
    <clr-step-description>...</clr-step-description>
    <clr-step-content *clrIfExpanded>
      ...
      <button clrStepButton="submit">submit</button>
    </clr-step-content>
  </clr-stepper-panel>
</form>

<ng-template #opened> Opened </ng-template>
<ng-template #loadingTmp> Loading... </ng-template>
