name: Demo
on:
  workflow_run:
    workflows: [Build]
    types:
      - completed
jobs:
  demo:
    name: Demo
    if: ${{github.event.workflow_run.conclusion == 'success'}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
      - name: Install Dependencies
        run: npm ci
      - name: Download Demo Artifact
        uses: actions/download-artifact@v3
        with:
          name: demo
      - name: Get PR Event
        id: get_pr_event
        uses: potiuk/get-workflow-origin@v1_1
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          sourceRunId: ${{github.event.workflow_run.id}}
      - name: Deploy Demo Preview
        continue-on-error: true
        timeout-minutes: 5
        env:
          NETLIFY_SITE_ID: ${{secrets.NETLIFY_SITE_ID}}
          NETLIFY_AUTH_TOKEN: ${{secrets.NETLIFY_AUTH_TOKEN}}
        run: npx netlify deploy --alias ${{steps.get_pr_event.outputs.pullRequestNumber}}
