name: Release
on:
  workflow_dispatch:
jobs:
  release:
    name: Release
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
      - name: Install Dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
      - name: Public Api Check
        run: npm run public-api:check
      - name: Release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
          SLACK_WEBHOOK: ${{secrets.SLACK_WEBHOOK}}
        run: npx semantic-release
      - name: Deploy Docs
        continue-on-error: true
        timeout-minutes: 5
        env:
          NETLIFY_SITE_ID: ${{secrets.NETLIFY_SITE_ID}}
          NETLIFY_AUTH_TOKEN: ${{secrets.NETLIFY_AUTH_TOKEN}}
        run: npx netlify-cli deploy $([[ $GITHUB_REF_NAME == "main" ]] && echo "--prod" || echo "--alias $GITHUB_REF_NAME")
      - name: Deploy Chromatic
        continue-on-error: true
        timeout-minutes: 5
        env:
          CHROMATIC_PROJECT_TOKEN: ${{secrets.CHROMATIC_PROJECT_TOKEN}}
        run: npx chromatic --storybook-build-dir ./dist/docs --exit-zero-on-changes
