name: Release Preview
on:
  workflow_dispatch:
jobs:
  release-preview:
    name: Release Preview
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Install Dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
      - name: Public Api Check
        run: npm run public-api:check
      - name: Preview Release
        env:
          BD_ACCESS_TOKEN: ${{ secrets.BD_ACCESS_TOKEN }}
          BD_RELEASE_PHASE: PRERELEASE
        run: npx semantic-release --extends ./.releaserc.base.js --dry-run --no-ci
      - name: Deploy Docs Preview
        continue-on-error: true
        timeout-minutes: 5
        env:
          NETLIFY_AUTH_TOKEN: ${{secrets.NETLIFY_AUTH_TOKEN}}
        run: npx netlify-cli deploy --site ${{secrets.NETLIFY_SITE_NAME}}
