@if (panel | async; as panel) {
<div [ngClass]="getPanelStateClasses(panel)">
  <div
    class="clr-accordion-header"
    [attr.role]="headingEnabled || explicitHeadingLevel ? 'heading' : null"
    [attr.aria-level]="headingEnabled || explicitHeadingLevel ? headingLevel : null"
  >
    <button
      type="button"
      class="clr-accordion-header-button"
      (click)="togglePanel()"
      [id]="getAccordionHeaderId(panel.templateId)"
      [disabled]="panel.disabled"
      [attr.aria-controls]="!panel.disabled && panel.open ? getAccordionContentId(panel.templateId) : null"
      [attr.aria-expanded]="panel.open"
      [class.clr-accordion-header-has-description]="(accordionDescription.changes | async)?.length || accordionDescription.length"
      #headerButton
    >
      <span class="clr-accordion-status">
        <cds-icon shape="angle" direction="right" class="clr-accordion-angle"></cds-icon>
      </span>
      <ng-content select="clr-accordion-title, clr-step-title"></ng-content>
      <ng-content select="clr-accordion-description, clr-step-description"></ng-content>
    </button>
  </div>
  <div
    @skipInitialRender
    role="region"
    class="clr-accordion-content-region"
    [id]="getAccordionContentId(panel.templateId)"
    [attr.aria-hidden]="!panel.open"
    [attr.aria-labelledby]="getAccordionHeaderId(panel.templateId)"
  >
    @if (panel.open) {
    <div @toggle (@toggle.done)="collapsePanelOnAnimationDone(panel)" class="clr-accordion-content">
      <div class="clr-accordion-inner-content">
        <ng-content></ng-content>
      </div>
    </div>
    }
  </div>
</div>
}
